.card {
  width: 225px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 1px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
}

.submit-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  width: 100px;
  cursor: pointer;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 5px;
}

.register {
  background-color: slateblue;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.legends {
  width: 225px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 5px;
  bottom: 30px;
  right: 10px;
  opacity: 0.8;
}

.legend-title {
  font-size: 16px;
  text-decoration: underline;
  align-self: center;
  margin-bottom: 5px;
}

.user-marker {
  color: slateblue;
}

.your-marker {
  color: tomato;
}

.misc {
  color: gray;
}

.user {
  display: flex;
  align-items: center;
}

.you {
  display: flex;
  align-items: center;
}

.instruction {
  display: flex;
  align-items: center;
}
